* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(46, 44, 44);
    height: 100vh;
    gap: 100px; 
}

button, input {
    border-radius: 5px;
    height: 40px;
    font-size: 20px;
    text-align: center;
}

#color-button {
    font-weight: 900;
}

button:active {
    background-color: rgb(122, 116, 116);
}
input {
    width: 250px;
}
.container {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 800px;
    width: 800px;
}

.grid-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.color-container, .size-container {
    display: flex;
    align-items: center;
}
.grid-size {
    font-size: 48px;
    color: white;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.child {
    display: flex;
    flex: 1;
}

.child1 {
    flex: 1;
}